<div class="container">
	<div class="row">
		<div class="col text-center">
			<img src="img/photo.jpg" alt="" style="width: 180px; height: 150px" class="img-thumbnail rounded-circle" />
			<h1 class="display-4">Novia Marsheila</h1>
			<p class="lead">Informatics Engineering Student</p>
		</div>
	</div>
</div>
