<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h2>Daftar Contact</h2>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nama</th>
						<th scope="col">No HP</th>
						<th scope="col">Aksi</th>
					</tr>
				</thead>
				<tbody>
					<% contacts.forEach(contact => { %>
					<tr>
						<th scope="row">1</th>
						<td>Sheila</td>
						<td>087653425162</td>
						<td>
							<a href="" class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> detail</a>
						</td>
					</tr>
					<% }) %>
				</tbody>
			</table>
		</div>
	</div>
</div>
